:root {
    background-color: #6cd4ff;
    --heading-background-color: #8B80F9;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
}

h1 {
    color: rebeccapurple;
    font-weight: bolder;
}
h2 {
    color: rebeccapurple;
    font-weight: bold;
}

P {
    color: white;
}
footer {
    font-style: normal;
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
    display: block;
}

hero img {
    display: block;
    width: 100%;
    height: auto;
}

article img {
    float: right;
}