:root {
    --primary-color: #9A7AA0;
    --secondary-color: #8D94BA;
    --accent1-color: #A0CFD3;
    --accent2-color: #B4EDD2;
  
    --white: #f3eded;
    --black: #0e0c0c;
  
    --button-color: #0e711b;
    --button-color-hover: #30f3a2;
  
    --nav-background-color: var(--accent2-color);
    --nav-link-color: #fff;
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: #fff;
  
    --heading-font: "Roboto", serif;
    --paragraph-font: "Poppins", serif;
}
.container-grid{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.map{
    border: 0;
    align-content: center;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:baseline
}

.employees{
    justify-content: space-between;
    width: 150px;
    align-items: center;
    flex-direction: column;
}

p{
    font-style: var(--black);
    background-color: var(--accent2-color);
}

.contact{
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    display: block;

}

.flexbox-container{
    display: flex;
    justify-content: space-between;
    border: 5px #333;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;

}

.nav{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

header{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-gap: 30px;
}

h1 {
    color: rebeccapurple;
    font-weight: bolder;
}
h2 {
    color: rebeccapurple;
    font-weight: bold;
}

P {
    color: white;
}
footer {
    font-style: normal;
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
    display: block;
}

hero img {
    display: block;
    width: 100%;
    height: auto;
}

article img {
    float: right;
    width:max-content
}