root {
    --primary-color: #9A7AA0;
    --secondary-color: #8D94BA;
    --accent1-color: #A0CFD3;
    --accent2-color: #B4EDD2;
  
    --white: #f3eded;
    --black: #0e0c0c;
  
    --button-color: #0e711b;
    --button-color-hover: #30f3a2;
  
    --nav-background-color: var(--accent2-color);
    --nav-link-color: #fff;
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: #fff;
  
    --heading-font: "Roboto", serif;
    --paragraph-font: "Poppins", serif;;
  }